{% extends 'base.html' %}

{% block head %}<title>Task Master</title>{% endblock%}

{% block content %}

    <div class="todo__update">
        <h1 class="todo__header" align="center">To Do List</h1>
        <div class="form">
            <form action="/to-do/update/{{task.id}}" method="POST">
                <center><input type="text" name="content" id="update__content", value="{{task.content}}">
                <input type="submit" value="Update Task" class="updatetask__btn"></center>
            </form>
        </div>
    </div>
  

{% endblock %}